.container {
    margin-top: 6em;
  }
.t{
    font-size:xx-large;
}
.but{
    
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 35%;
}
ion-alert {
   --width: 70%;
    --height: auto;
}