.icons {
  font-size: 5em;
  height: 9em;
  size: 5em;
  scale: 1;
}

ion-popover {
  --min-width: 290px !important;
}

ion-card.holder {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 23px 36px rgba(237, 237, 237, 0.6);
}
ion-card-header {
  height: 150px;
  padding: 15px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
ion-card-title {
  margin: 0 auto;
}
.title {
  font-size: 3em;
  border-radius: 1px;
  font-weight: bold;
}

.teacher {
  font-size: 2.5em;
  display: block;
}
.ico {
  font-size: 6em;
}
ion-modal a {
  text-decoration: none;
}
ion-modal {
  --max-height: 420px !important;
}
ion-popover {
  --min-width: 400px !important;
  --background: none !important;
  --box-shadow: none !important;
}
@media only screen and (max-width: 622px) {
  #teacher {
    display: none;
  }
}
ion-content {
  width: 100%;
  --background: #f5f5f579 !important;
}
ion-grid.full {
  height: 100vh;
}
.full-width {
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.feature {
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 50px;
}
ion-card.show {
  background-color: #181a22 !important;
  box-shadow: 0 23px 36px rgba(#d24d57, 0.6);

  padding: 8px;
  min-width: 440px;
}
ion-input.newsletter {
  color: darkgray !important;
  --background: #181a22c9;
  --color: #eaeaea !important;
}
.row {
  width: 100%;
  height: 50vh;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

/* -- SVG CSS -- */

.svg-separator {
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.svg-separator.bottom {
  top: auto;
  bottom: 0;
}
.sep1 {
  transform: translateY(-100%) translateY(2px) scale(1, 1);
  transform-origin: top;
}

/* -- Row BG Color -- */

.red {
  margin-top: 35px;
  background-color: #d24d57;
}
